1 VERSIONINFO
FILEVERSION 4, 0, 0, 0
PRODUCTVERSION 4, 0, 0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904e4"
  {
   VALUE "CompanyName", "TMS Software\000"
   VALUE "FileDescription", "TMS Data Modeler\000"
   VALUE "FileVersion", "4.0.0.0\000"
   VALUE "InternalName", "TMS Data Modeler\000"
   VALUE "LegalCopyright", "\251 2010-2026 TMS Software\000"
   VALUE "OriginalFilename", "dm.exe\000"
   VALUE "ProductName", "TMS Data Modeler\000"
   VALUE "ProductVersion", "4.0.0.0\000"
   VALUE "ProgramID", "com.tmssoftware.datamodeler\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 1033, 1252
 }
}

